// @mixin adaptive($name, $start, $end) {
//     $calculated: $start - $end + px;
//     #{$name}: $start;
//     @media (max-width: $wrapper) {
//         #{$name}: calc(#{$start} + #{$calculated} * ((100vw - 320px) / #{$wrapper - 320}));
//     }
// }
@import "_avs";

@mixin fza($min, $default) {
    $added: #{$default - $min};
    font-size: calc(#{$min + px} + (#{$added} + #{$added} * 0.7) * ((100vw - 320px) / #{$wrapper}));
}
