// %

@function prc($pxOne, $pxTwo) {
    $res: math.div($pxOne, $pxTwo) * 100%;
    @return $res;
}
// rem

@function rem($px) {
    $res: math.div($px, 16) + rem;
    @return $res;
}
// em

@function em($px) {
    $res: math.div($px, 16) + em;
    @return $res;
}
