@import url('https://fonts.googleapis.com/css2?family=Noto+Sans&display=swap');
@mixin fza($min, $default) {
	$added: #{$default - $min};
	@media (max-width: 767px) {
		font-size: calc(
			#{$min + px} + (#{$added} + #{$added} * 0.7) * ((100vw - 320px) / #{$wrapper})
		);
	}
	@media (min-width: 767px) {
		font-size: calc(#{$min + px} + #{$added} * (100vw / #{$wrapper}));
	}
}

// &display=swap

$ff: 'Noto Sans';
