@import "_header";
@import "_burger";
// main
@import "_main";
// main
@import "_footer";
@import "_avs";
@import "_media";
@import "_fonts";
@import "_normalize";

body {
    font-family: $ff;
    line-height: 1;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    color: $dc;
}

img {
    width: 100%;
    height: auto;
}

.wrapper {
    // max-width: $wrapper + px;
    max-width: 100%;
    margin: 0 auto;
    padding: 0 15px;
    padding-top: $fixedheaderheight + 0px;
    min-height: 100%;
}
.header {
    min-height: $fixedheaderheight;
}
