body {
    margin-right: 30px;
    margin-right: 10px;
    font-family: serif;
    font-size: 15px;
}
@media (max-with: 900px) {
    body {
        background: #000;
    }
}

@media (max-with: 900px) {
    html {
        background: #fff;
    }
}
