@import "_header";
@import "_burger";
// main
@import "_main";
// main
@import "_footer";
@import "_converter";
@import "_adaptive";
@import "_icons";
@import "_fonts";
@import "_normalize";

$dc: black;

body {
    font-family: $ff;
    line-height: 1;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    color: $dc;
}

img {
    width: 100%;
    height: auto;
}

$wrapper: 1280;

$fixedheaderheight: "";

.wrapper {
    max-width: $wrapper + px;
    margin: 0 auto;
    padding: 0 15px;
    padding-top: $fixedheaderheight + 0px;
    min-height: 100%;
}
.header {
    min-height: $fixedheaderheight;
}

@mixin fza($min, $default) {
    $added: #{$default - $min};
    font-size: calc(#{$min + px} + #{$added} * (100vw / #{$wrapper}));
}
